<div class="flex flex-col items-center justify-center">
 
  <form
    class="w-[50%] max-w-100 mx-auto bg-white p-6 rounded-lg shadow-md space-y-4"
    (ngSubmit)="onSubmit()"
  >
    <h2 class="text-xl font-semibold">New Task</h2>
  
    <div>
      <label class="block text-sm font-medium mb-1" for="name">Name</label>
      <input
        id="taskName"
        type="text"
        placeholder="Enter task name"
        class="w-full border rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500"
        
        [formField]="taskForm.name"
      />
      @if (taskForm.name().invalid() && taskForm.name().touched()) {
        <p class="text-red-800">{{ taskForm.name().errors()[0].message }}</p>
      }
      <p></p>
    </div>
  
    <div>
      <label class="block text-sm font-medium mb-1" for="description">Description</label>
      <textarea
        id="description"
        rows="4"
        placeholder="Enter task description"
        class="w-full border rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500"
        [formField]="taskForm.description"
      ></textarea>
      @if (taskForm.description().invalid() && taskForm.description().touched()) {
        <p class="text-red-800">{{ taskForm.description().errors()[0].message }}</p>
      }
    </div>
  
    <div class="flex items-center">
      <input
        id="completed"
        type="checkbox"
        class="h-4 w-4
         text-indigo-600
          border-gray-300 rounded"
          [formField]="taskForm.completed"
      />
      <label for="completed" class="ml-2 text-sm">Completed</label>
    </div>
  
    <div class="flex justify-end">
      <button type="submit" class="bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700">{{ editing() ? 'Update' : 'Save' }}</button>
    </div>
  </form>

  @if (!tasks.isLoading()) {
    <section class="mt-8 w-full flex flex-col gap-y-2">
      @for (task of tasks.value(); track task.id) {
        <app-task
          [task]="task"
          (taskAction)="onTaskAction($event)"
        />
      }
    </section>
  } @else {
    <p>Loading...</p>
  }
  @if (tasks.error()) {
    <p>An error occured</p>
  }
</div>
